body {
  left: 0;
  margin: 0;
  overflow: auto;
  position: relative;
  background-image: url("black.jpeg");
  background-size:cover;
}

.heading{
	 background-size:cover;
	 font-family: 'Open Sans', sans-serif;
	 color:white;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input[type=text]{
  display: inline-block;
  float: left;
  margin-left: 30px;
}
input[type=password]{
  display: inline-block;
  float: left;
  margin-left: 30px;
}
input[type=Email]{
  display: inline-block;
  float: left;
  margin-left: 30px;
}

input[type=submit]{
	margin-left: 300px;
}
p{
	color: yellow;
}
th{
  color:yellow;
}
td{
  color:white;
}
